# Build artefacts
/node_modules/
/dist/
/vendor/
/logs/
/tests/coverage/

# OS artifacts
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.TemporaryItems
.apdisk
.DocumentRevisions-V100
.fseventsd
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.metadata_never_index
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*~
.nfs*

# Logs, caches, temp files, backups, etc.
*.log
*.cache
*.tmp
*.temp
*.bak
*.swp
*.old
*.orig

# Secrets and environment variables
.env
.secrets
